/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Nested engines directory (shouldn't exist in submodule)
/engines/
